<h1>Welcome to MyBooks App, <%= @user.username %>!</h1>
<h2>your user id is: <%= @user.id %>.</h2>
<br />
<a href="/books">List of Books</a>
<br />
<a href="/books/new">Add New Book</a>
<br />
<a href="/logout">Log Out</a>
<br />