<h1>ADD NEW BOOK</h1> 

<Br />

<form action='/books' method="POST">
<label for="title">Title:</label><br>
<input type=text name="title">
<br />
<br />
<label for="author">Author:</label><br>
<input type=text name="author"><br>
<br />
<input type=submit value="Save Book">


</form>